.hoveredCard {
  position: relative;
  width: 100%;
  height: 100%;
}
.hoveredCard .thumbnailHovered {
  width: 100%;
  vertical-align: top;
}
.viewPlay {
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 5;
}
.hoveredCard:hover .viewPlay {
  display: flex;
  opacity: 1;
}
.playlistCovered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  align-content: stretch;
  top: 0;
  right: 0;
  bottom: 0;
  width: 45%;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
}
.viewFullPlaylist {
  font-size: var(--font-size);
  color: var(--text-secondary);
  cursor: pointer;
  padding: 6px 0;
  font-weight: 500;
}
.viewFullPlaylist:hover {
  color: var(--text-primary);
}
