.videoCardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.videoCardContainerHorizontal {
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.videoCardInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-self: start;
  margin: 10px 0 0;
  gap: 12px;
}
.videoCardInfoHz {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-self: start;
  gap: 12px;
}
.menu {
  justify-self: end;
}
