.libraryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 140px;
  gap: 20px;
}
.title {
  margin: 0;
  font-weight: 400;
}
.textContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
