.videoCardsContainer {
  display: grid;
  min-height: 100vh;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(auto, 360px));
  gap: 40px 16px;
  /* align-items: center; */
  margin: 0 auto;
  justify-items: center;
  padding: 75px;
}
