.channelContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bannerContainer {
  display: flex;
}
.channelBgHeader {
  background: #f9f9f9;
}
.bannerChannel {
  width: 100%;
  height: calc((100vw - 240px) / 6.2 - 1px); /* yt measurements */
  object-fit: cover;
}
.channelHeaderContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 15px 0 0 0;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
}
.channelAvatar {
  display: flex;
  margin: 0 24px 0 0;
}
.channelOwnerText {
  font-size: 24px;
}
.channelOwnerContainer {
  display: flex;
  flex-direction: column;
}

.channelOwnerSubscribers {
  color: gray;
  font-size: var(--font-size);
}
.channelInfo {
  display: flex;
  align-items: center;
}
.channelSubscribeButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ownerChannelName {
  color: var(--text-primary);
  text-decoration: none;
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}
.ownerChannelName:hover {
  color: var(--text-primary);
}
.iconContainer {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
}
/* tabbed header */
.channelTabbedHeader {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  padding: 15px 15px 0;
  margin: 0 auto;
  /* width: 100%; */
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth;
}
.channelTabbedItem {
  position: relative;
  color: gray;
  font-size: var(--font-size);
  font-weight: bold;
  padding: 8px 40px;
  text-decoration: none;
}
.channelTabbedItemActive:after {
  background-color: var(--icon-secondary);
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
.channelWrapper {
  background: var(--background-b);
}
.channelSectionsContainer {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 24px;
  height: 100%;
}
@media (max-width: 480px) {
  .channelHeaderContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 15px 0 0 0;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    background: #f9f9f9;
  }
  .channelAvatar {
    display: none;
    margin: 0px;
  }
}
