.horizontalVideoCardContainer {
  width: 100%;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
}
.horizontalCard {
  display: flex;
  margin: 5px;
  /* overflow: hidden;   */
  gap: 12px;
}
.horizontalVideoCardInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0 0;
  gap: 12px;
}
.horizontalCard .horizontalVideoCardInfo {
  margin: 0;
}
.menu {
  justify-self: end;
}
