.channelPlaylistsContainer {
  display: flex;
  flex-direction: column;
}
.title {
  margin: 0;
  font-size: 16px;
  color: var(--text-primary);
  margin-bottom: 24px;
}
.carouselContainer {
  display: flex;
  position: relative;
  width: 100%;
}
.horizontalVideoCardsContainer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 210px;
  position: relative;
  gap: 40px 4px;
  justify-items: start;
  overflow: hidden;
  scroll-behavior: smooth;
}
.back,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  background: white;
  box-shadow: 0 4px 4px rgb(0 0 0 / 30%), 0 0 4px rgb(0 0 0 / 20%);
  top: 30%;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: none;
}
.back {
  left: 0;
  transform: translate(-50%, -50%);
}
.next {
  right: 0;
  transform: translate(-50%, -50%);
}
