.sidebarContainer {
  display: flex;
  flex-direction: column;
  width: 240px;
  font-size: var(--font-size);
  height: calc(100vh - 56px);
  opacity: 0.75;
  transition: all 0.4s ease-in-out;
  overflow-y: auto;
  opacity: 0.75;
}
.sidebarContainer:hover {
  overflow-y: auto;
  opacity: 0.75;
}
.guideEntry {
  text-decoration: none;
  padding: 10px 24px;
  color: black;
  display: flex;
  font-size: var(--font-size);
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
.sidebarIcon {
  margin-right: 24px;
}
.sidebarBackground {
  background: #d9d9d9;
}
.sidebarBackgroundHover:hover {
  background: var(--background-c);
}
.sidebarBackground > a > span:last-child {
  font-weight: 500;
}
.section {
  border-bottom: 1px solid #e5e5e5;
  padding: 12px 0;
}
.section:last-child {
  border-bottom: none;
}
.SignInButton {
  display: flex;
  flex-direction: column;
  padding: 16px 25px;
  line-height: var(--line-height-20);
  gap: 12px;
}
.title {
  padding: 8px 24px;
  margin: 0;
  font-weight: 500;
  color: var(--text-title);
}
.image {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.footer {
  padding: 12px 24px 0;
  font-size: var(--font-size-13);
}
.footerCopyright {
  font-size: var(--font-size-12);
  color: var(--text-sentiment);
  padding: 16px 24px;
}
