.carrouselContainer {
  position: relative;
  display: flex;
  width: 100%;
}
.horizontalVideoCardsContainer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 215px;
  position: relative;
  grid-gap: 40px 16px;
  gap: 40px 16px;
  margin: 0 auto;
  justify-items: start;
  overflow: hidden;
  scroll-behavior: smooth;
}
.back,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  background: white;
  box-shadow: 0 4px 4px rgb(0 0 0 / 30%), 0 0 4px rgb(0 0 0 / 20%);
  top: 25%;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: none;
  z-index: 100;
}
.back {
  transform: translate(-50%, -50%);
}
.next {
  right: 0;
  transform: translate(50%, -50%);
}
.prevContainer {
  left: 0;
  z-index: 10;
  position: absolute;
  height: 100%;
}
.nextContainer {
  right: 0;
  z-index: 10;
  position: absolute;
  height: 100%;
}
