.watchMetaContainer {
  display: grid;
  grid-template-columns: max-content 1fr 150px;
  align-items: center;
  gap: 8px;
}
.watchOwnerContainer {
  display: flex;
  flex-direction: column;
}
.watchOwnerText {
  font-size: 14px;
  font-weight: 500;
}
.watchOwnerSubscribers {
  display: flex;
  gap: 5px;
  color: gray;
  font-size: var(--font-size);
  margin-right: 4px;
  line-height: 18px;
  flex: 1;
}
.watchSubscribeContainer {
  display: flex;
  align-items: center;
  max-width: 150px;
}
.watchSubscribe {
  padding: 10px 16px;
  margin: 4px;
  border: none;
  background: var(--bg-button-subs);
}
