.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}
.iconContainerHorizontal {
  transform: rotate(90deg);
  transform-origin: center center;
}
.moreActionMenu {
  position: relative;
}
.menuButton {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.itemsContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 250px;
  padding: 8px 0;
  right: 0;
  z-index: 200;
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.items {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: white;
  grid-gap: 16px;
  gap: 16px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}
.items:hover {
  background: var(--bg-secondary);
}
.left {
  left: 0;
}
.right {
  right: 0;
}
