.horizontalVideoCardsContainer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 210px;
  position: relative;
  gap: 40px 4px;
  justify-items: start;
  overflow: hidden;
  scroll-behavior: smooth;
}
