.videosContainer {
  display: grid;
  min-height: 100vh;
  max-width: calc(var(--item-per-row) * var(--item-max-width) + 16px);
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: repeat(var(--item-per-row), var(--item-max-width));
  gap: 40px 16px;
  /* align-items: center; */
  margin: 0 auto;
  justify-items: center;
  padding: 75px;
  place-content: center;
  background: var(--background-a);
}
.spinner {
  padding-top: 20px;
}
.feedFilterContainer {
  /* width: 100%; */
  width: calc(100% - 240px);
  display: flex;
  justify-content: center;
  position: fixed;
  border-top: 1px solid var(--border-secondary);
  border-bottom: 1px solid var(--border-secondary);
  background: white;
  padding: 10px;
  z-index: 2050;
  box-sizing: border-box;
}
.toggleToMiniGuide {
  width: calc(100% - 72px);
  display: flex;
  justify-content: center;
  position: fixed;
  border-top: 1px solid var(--border-secondary);
  border-bottom: 1px solid var(--border-secondary);
  background: white;
  padding: 10px;
  z-index: 2050;
  box-sizing: border-box;
}
