.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 100%;
  background: var(--bg-primary);
}
.startHeader {
  display: flex;
  align-items: center;
}
.startHeaderWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
.startHeaderWrapper > span {
  padding: 8px;
}
.menuGuide {
  cursor: pointer;
}
.centerHeader {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 0 1 728px;
  align-items: center;
}
.endHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.endHeader > button {
  margin-right: 10px;
}
.endHeader > button:last-child {
  margin: 0 10px;
}
.endHeader > button {
  background: none;
  border: none;
}
.iconLogo {
  width: 80px;
  height: 24px;
}
.searchButton {
  display: none;
}
.backButton {
  background: none;
  border: none;
  cursor: pointer;
}
.hidden {
  display: none;
}
@media (max-width: 657px) {
  .searchButton {
    display: flex;
    cursor: pointer;
  }
  .searchVisible .endHeader {
    display: none;
  }
  .searchVisible > .startHeader > .startHeaderWrapper {
    display: none;
  }
  .visible {
    display: flex;
  }
}
