:root {
  --text-primary: rgb(3, 3, 3);
  --text-secondary: rgb(96, 96, 96);
  --text-sentiment: rgb(144, 144, 144);

  --bg-primary: rgba(255, 255, 255, 0.98);
  --bg-secondary: rgb(242, 242, 242);
  --bg-tertiary: rgb(103, 103, 103);
  --bg-button-subs: rgb(236, 236, 236);
  --bg-body: #f9f9f9;
  --bg-disable: rgb(204, 204, 204);
  --bg-type: rgb(6, 95, 212);
  --bg-modal: rgb(50, 50, 50);

  --background-a: #f9f9f9;
  --background-b: #f1f1f1;
  --background-c: #e9e9e9;

  --icon-secondary: #606060;
  --font-size: 14px;

  --border-primary: rgb(217, 217, 217);
  --border-secondary: rgba(0, 0, 0, 0.1);

  --badge-background: rgba(0, 0, 0, 0.05);

  --bg-sentiment: rgb(144, 144, 144);

  --underline-color: #909090;

  --color-placeholders: #a2acb4;

  /*------------------------
        VARS FOR CAROUSEL
  ------------------------
  */
  --item-per-row: 4;
  --item-width: calc(100% / var(--item-per-row) - 16px - 0.01px);
  --item-max-width: 360px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  background: var(--background-a);
}
a {
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
.custom-scroll::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/*------------------------
        BREAKPOINTS
  ------------------------
*/
@media (min-width: 960px) {
  :root {
    --item-per-row: 2;
    --item-max-width: 300px;
  }
}
@media (min-width: 1097px) {
  :root {
    --item-per-row: 2;
    --item-max-width: 320px;
  }
}
@media (min-width: 1300px) {
  :root {
    --item-per-row: 4;
    --item-max-width: 320px;
  }
}
@media (min-width: 1785px) {
  :root {
    --item-per-row: 5;
    --item-max-width: 320px;
  }
}
@media (min-width: 1920px) {
  :root {
    --item-per-row: 4;
    --item-max-width: 360px;
  }
}
@media (min-width: 2500px) {
  :root {
    --item-per-row: 6;
    --item-max-width: 360px;
  }
}

/* for debugging */
.debug {
  position: "fixed";
  top: 0;
  left: 0;
  z-index: 30000;
  background: "yellow";
  height: "50px";
}
