.subheaderContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--border-primary);
  margin-bottom: 24px;
  padding-bottom: 24px;
}
.subheader {
  font-size: 10px;
}
.titleContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.titleText {
  color: var(--text-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.playButton {
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 2px;
  color: var(--text-secondary);
  flex: 1;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 16px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.playAll {
  color: var(--text-primary);
}
.subtitle {
  width: 50%;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-secondary);
  margin-top: 8px;
  color: var(--text-secondary);
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: normal;
  overflow-wrap: anywhere;
}
.shelfContainer {
  margin-top: 24px;
}
