.watchContainer {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 15px;
  padding: 15px;
}
.comments {
  display: none;
}
.commentsAtTheBottom {
  display: flex;
}
.primary {
  display: flex;
  flex-direction: column;
}
.secondary {
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.playerContainer {
  width: 100%;
}
.youtubePlayer {
  aspect-ratio: 16/9;
}
.watchInfoMenuContainer {
  display: flex;
  align-items: center;
  position: relative;
}
.watchInfoMenuButton {
  position: relative;
  height: 24px;
  width: 24px;
}
.watchInfoMenu {
  transform: translate(-70%, -50%) rotate(270deg);
  position: absolute;
  height: 100%;
  width: 100%;
}
.videoTitle {
  font-size: 18px;
  word-break: normal;
  overflow-wrap: anywhere;
}
.watchInfoContainer {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-primary);
  border-bottom: 1px solid var(--border-primary);
}
.watchInfoButtonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: var(--text-sentiment);
}
.watchInfoButtons {
  display: flex;
  align-items: center;
}
.watchInfoButtons > div {
  display: flex;
  align-items: center;
  padding: 0 8px 0 0;
  margin-left: 8px;
}
.watchInfoButtons > div:first-child {
  margin-left: 0px;
}
.watchInfoButtons > div:last-child {
  padding: 0px;
}
.watchInfoButtons > div > button {
  border: none;
  background: none;
  cursor: pointer;
}

.metaContainer {
  display: flex;
  border-bottom: 1px solid var(--border-primary);
  flex-direction: column;
  margin-bottom: 24px;
  padding-bottom: 16px;
}
.channelInfo {
  padding: 8px 0;
}
.watchInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 64px;
  line-height: 21px;
}
.watchContentInfoContainer {
  max-height: 60px;
  overflow: hidden;
}
.watchContentInfoExpanded {
  max-height: none;
}
.watchContentInfo {
  color: var(--text-secondary);
  margin: 0;
  word-break: normal;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}
.watchShowMore {
  margin-top: 8px;
}
.watchShowMore > button {
  border: none;
  background: none;
  padding: 0;
  color: var(--text-secondary);
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

/* breakpoints */
@media (max-width: 480px) {
  .hiddenLabel {
    display: none;
  }
}
@media (max-width: 612px) {
  .watchInfoButtonsContainer {
    flex-direction: column;
    align-items: flex-start;
  }
  .watchInfoButtons {
    display: flex;
    /* align-items: center; */
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1013px) {
  .watchContainer {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 402px);
    column-gap: 15px;
    padding: 25px;
  }
  .comments {
    display: flex;
  }
  .commentsAtTheBottom {
    display: none;
  }
}
